.typewriter {
  font-weight: bold;
}

.typewriter-cursor {
  animation: typewriter-blink 1s step-end infinite;
}

@keyframes typewriter-blink {
  from,
  to {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
